*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container{
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-image: url('./images/headerbg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__logo{
    cursor: pointer;
    width: 82px;
    height: 52px;
}
.header__top{
    background-color: #000000;
    color: #fff;
}

.header__nav{
    display: flex;
}

.header__nav-link{
    width: 100px;
    color: #fff;
    margin-left: 58px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    transition: .3s;
}

.header__nav-link:first-child{
    margin-left: 63px;
}


.header__nav-link:hover{
    color: #F9804B;
}

.header__text{
    transition: .3s;
}

.header__text:hover{
    color: #F9804B;
}

.header__text{
    margin-left: 12.7vh;
}

.header_text-item{
    width: 100px;
}


.header__top-items{
    display: flex;

    align-items: center;
    height: 80px;
    color: #fff;
}

.lower__circle{
    width: 465px;
    height: 465px;
    z-index: 1;
    background-image: url(./images/HeaderCircl.svg);
    margin-left: auto;
    margin-right: 11.5vh;
    order: 2;
    margin-top: 12px;
}

.lower__text-item{
    position: relative;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    color: #fff;
    width: 500px;
    height: 400px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 86px;
    left: calc(50% - 500.31px/2 + 330.15px);
    z-index: 2;


}

.lower__text-item span{
    color: #FFEE2E;
}

.header__lower-btn{
    position: relative;
    background: #F9804B;
    text-transform: uppercase;
    height: 54px;
    width: 298px;
    outline: none;
    border: 0px solid transparent;
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    left: calc(50% - 298px/2 + 332px);
    top: 60px;
    transition: .3s;
    cursor: pointer;
}

.header__lower-btn:hover{
    background: #E47209;
}

.header__lower-btn:active{
    background: #4B9200;
}

.header__lower-btn:disabled{
    background: #767474;
}




.img__and__text-lower{
    display: flex;
}

.backstage{
    margin-top: 140px;
    margin-bottom: 180px;
    height: 403px;
}

.backstage__text{
    width: 465px;
}

.backstage__all{
    display: flex;
    justify-content: space-between;
}


.backstage__title{
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

.backstage__text-item{

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.backstage__second--text-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
}

.backstage__second-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-top: 54px;
    padding-bottom: 34px;

}

.uncontainer-image{
    position: relative;
    margin-left: auto;
    display: flex;
    bottom: 524px;
}

.animals{
    margin-bottom: 80px;
    display: flex;
    

}
.animals__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.animals__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 16px;
}


.animals__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    margin-left: 16px;
    margin-bottom: 18px;
}
.animals__item{
    border: 1px solid #FE9013;
    border-radius: 5px;    
}

.a{
    margin-bottom: 20px;
}

.b{
    margin-bottom: 20px;
}

.c{
    margin-bottom: 20px;
}

.animals__btn{
    margin-top: 18px;
    border: none;
    text-transform: uppercase;
    background: #FE9013;
    border-radius: 25px;
    margin-left: 427px;
    height: 54px;
    width: 298px;
    cursor: pointer;
    transition: .4s;
    color: white;
    cursor: pointer;
}

.animals__btn:hover{
    background: #E47209;
}


.animals__btn:active{
    background: #4B9200;
}

.animals__btn:disabled{
    background: #767474;
}

.animals__left{
    right: 82px;
    position: relative;
    border-radius: 100%;
    border: none;
    background-color: #FE9013;
    height: 62px;
    width: 62px;
    top: 478px;
    transition: .3s;
    cursor: pointer;

    
}


.animals__right{
    position: relative ;
    border-radius: 100%;
    border: none;
    background-color: #FE9013;
    height: 62px;
    width: 62px;
    bottom: 481px;
    left: 100%;
    margin-left: 20px;
    transition: .3s;
    cursor: pointer;
}

.animals__right:hover, .animals__left:hover{
    background-color: #4B9200;
}

.friends{
    height: 1004px;
    
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.friends__wrapper{
    position: relative;
    height: 835px;
    top: 69px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;

}

.friends__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    padding-top: 41px;
    text-align: center;
}

.friends__second-title{
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-top: 30px;
    padding-left: 100px;
}

.friends__text{
    
    padding-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding-left: 99px;
}

.friends__second-text{
    
   padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-left: 99px;
}

.friends__card-title{
    padding-bottom: 40px;
    padding-top: 60px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.friends__cards{
    display: flex;
    justify-content: center;
}

.friends__cards:last-child{
    margin-right: -30px;
}

.friends__card-text{
     width: 168px;
}

.card-fr{
    
    height: 168px;
    width: 168px;
    background-color: #fff;
    border: 1px solid #F9804B;
    border-radius: 5px;
    margin-right: 30px;
    
    
}

.card-arr{
    margin-right: 30px;
}

.friends__card-img{
    
    display: block;
    padding-top: 25%;
    margin: auto;
    
}

.friends__card-arr{
    padding-top: 100%;
}

.friends__cards-text{
    display: flex;
    justify-content: space-between;
    width: 764px;
    margin: auto;
   padding: 30px 0;
}


.friends__button{
    margin-top: 30px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border: none;
    text-transform: uppercase;
    background: #F9804B;
    border-radius: 25px;
    margin-left: 427px;
    height: 54px;
    width: 298px;
    cursor: pointer;
    transition: .4s;
    
}

.friends__button:hover{
    background: #E47209;
}


.friends__button:active{
    background: #4B9200;
}

.friends__button:disabled{
    background: #767474;
}

.footer{
    background: #111115;
    color: #fff;
}
.footer__nav{
    padding-right: 129px;
    padding-top: 40px;
    display: flex;
    justify-content:space-between;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}
.footer__sub{
    height: 20px;
}

.footer__info{
    display: flex;
    justify-content: right;
    margin-top: -17px;
    
}

.footer__form {
    padding-left: 10px;
    padding-top: 2px;
    width: 228px;
    height: 42px;
    text-align: left;
    border: 1px solid orangered;
    border-radius: 2px;
    transition: .3s;
    color: #BDBDBD;
    background-color: #111115;
    outline: none;
}

.footer__form::miss

.footer__form:hover {
    border: 1px solid green;
}
.footer__button {
    height: 42px;
    width: 129px;
    margin-left: 10px;
    border-radius: 3px;
    border:1px solid green;
    color: green;
    cursor: pointer;
    transition: 0.3s;
}

.footer__button:hover {
    border: 1px solid orangered;
}

.donate__btn{
    width: 298px;
    height: 54px;
    background: #F9804B;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    margin-top: 34px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    transition: 0.3s;
}   



.donate__btn:hover{
    background: #E47209;
}


.donate__btn:active{
    background: #4B9200;
}

.donate__btn:disabled{
    background: #767474;
}











.footer__links-items{
    font-family: 'Roboto';
    display: grid;
    margin-top: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-left: 22px;
    cursor: pointer;
}



.footer__nav-low{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}


.footer__links-item{
    padding-bottom: 4px;
}


.footer__links-item-1{
    padding-bottom: -16px;
}

.footer__menu{
    
    max-width: 362px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    transition: .3s;
    bottom: -144px;
    

    
}

.footer__menu-link{
    margin-left: 58px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    bottom: -160px;
}

.footer__menu-link:hover{
    color: #F9804B;
}


.footer__menu-link:first-child{
    margin-left: -58px;
}

.footer__nav-text-item{
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
}

.footer__nav-text-item{
    position: relative;
    opacity: 0.5;
    top: 129px;
}


.footer__nav-text-item:last-child{
    padding-top: 10px;
}


.footer__links-item-4::before {
    content: url(./images/facebook.svg);
    position: relative;
    top: 6px;
    right: 22px;
}
.footer__links-item-3::before {
    content: url(./images/twitter.svg);
    position: relative;
    top: 6px;
    right: 22px;
}
.footer__links-item-2::before {
    content: url(./images/instagram.svg);
    position: relative;
    top: 6px;
    right: 22px;
}
.footer__links-item-1::before {
    content: url(./images/youtube.svg);
    position: relative;
    top: 6px;
    right: 22px;
}


